{% extends 'base.html' %}
<!-- prettier ignore -->
{% load static %}

<!-- prettier ignore -->
{% block title %} Home - Family Money {% endblock %}
<!-- prettier ignore -->

{% block content %}
<!-- Jumbotron Section -->
<div class="jumbotron text-center bg-light py-5">
  <div class="container">
    <h1 class="display-4">Welcome to Family Money</h1>
    <p class="lead">
      Take control of your finances with our comprehensive tools.
    </p>
    <hr class="my-4" />
    <p>Whether it's budgeting, saving, or investing, we've got you covered.</p>
    <a
      class="btn btn-primary btn-lg mt-3"
      href="{% url 'common:dashboard' %}"
      role="button"
      >Get Started</a
    >
  </div>
</div>

<!-- Features Section -->
<div class="container">
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Manage Budget</h5>
          <p class="card-text flex-grow-1">
            Track and manage your budget to ensure you’re on top of your
            finances.
          </p>
          <a href="#" class="btn btn-primary mt-auto">Manage Budget</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Pay Bills</h5>
          <p class="card-text flex-grow-1">
            Stay on top of your bills and avoid late fees with our easy-to-use
            bill payment system.
          </p>
          <a href="#" class="btn btn-success mt-auto">Pay Bills</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">Set Savings Goals</h5>
          <p class="card-text flex-grow-1">
            Define and track your savings goals to reach your financial
            objectives faster.
          </p>
          <a href="#" class="btn btn-warning mt-auto">Set Goals</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
